# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Static / media nếu không muốn đưa file lên GitHub
staticfiles/
media/

# Python cache
.pytest_cache/
.mypy_cache/