<footer class="site-footer text-white text-center py-3">
  <div class="container ">
    <p class="mb-1">
      &copy; 2025 – Thiết kế bởi <strong>IT</strong>, Trung tâm Y tế khu vực Thới Lai
    </p>
    <address class="mb-0">
      Ấp Thới Phong A, Xã Thới Lai, Thành phố Cần Thơ.<br>
      Điện thoại:
      <a href="tel:+842923681115" class="text-white text-decoration-underline">
        (+84-0292) 3681115
      </a> – 
      Email:
      <a href="mailto:ttyt.thoilai@cantho.gov.vn" class="text-white text-decoration-underline">
        ttyt.thoilai@cantho.gov.vn
      </a>
    </address>
  </div>
</footer>
